/* External links */
a[target=_blank],
a.extlink {
    padding-right: 20px;
    margin-right: 2px;
    background-image: url(../images/ext.png);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: right center;
}
a[target=_blank]:hover {
    background-image: url(../images/ext-hover.png);
}

/* Table headers */
table thead {
    background: #f2f5f9;
}